* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited {
  color: #0e0ee7;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="radio"],
button,
textarea {
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.shado {
  -webkit-box-shadow: -10px 11px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: -10px 11px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: -10px 11px 0px 0px rgba(0, 0, 0, 1);
  background-color: cyan;
}
